.popup.popup-form#popup-form
    form.form
        .form__title Оставьте заявку
        .form__subtitle И мы свяжемся с вами в ближайшее время
        .form__inputs
            input.form__input(type="text" name="name" placeholder="Имя")
            input.form__input.phone(type="tel" name="phone" placeholder="Телефон")
            label.label-error
            .form__submit.btn.btn--black
                input(type="submit")
                <svg class="btn--icon" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.57495 2L8.92508 8L2.57495 14" stroke="#00E569" stroke-width="5"/>
                </svg>
                label.btn--text Отправить заявку