.project {
    position: relative;
    &__img {
        position: relative;
        display: block;
        margin-bottom: 12px;
        @media screen and (max-width: 991px) {
            margin-bottom: 6px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}