section.project.project-akvafor 
    .project__img
        picture
            source(data-srcset="img/projects/akvafor/2.webp" type="image/webp")
            source(data-srcset="img/projects/akvafor/2.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/akvafor/2.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/akvafor/3.webp" type="image/webp")
            source(data-srcset="img/projects/akvafor/3.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/akvafor/3.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/akvafor/4.webp" type="image/webp")
            source(data-srcset="img/projects/akvafor/4.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/akvafor/4.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/akvafor/5.webp" type="image/webp")
            source(data-srcset="img/projects/akvafor/5.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/akvafor/5.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/akvafor/6.webp" type="image/webp")
            source(data-srcset="img/projects/akvafor/6.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/akvafor/6.jpg" alt="")