section.project.project-wunderfrucht
    .project__img
        picture
            source(data-srcset="img/projects/wunderfrucht/2.webp" type="image/webp")
            source(data-srcset="img/projects/wunderfrucht/2.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/wunderfrucht/2.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/wunderfrucht/3.webp" type="image/webp")
            source(data-srcset="img/projects/wunderfrucht/3.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/wunderfrucht/3.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/wunderfrucht/4.webp" type="image/webp")
            source(data-srcset="img/projects/wunderfrucht/4.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/wunderfrucht/4.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/wunderfrucht/5.webp" type="image/webp")
            source(data-srcset="img/projects/wunderfrucht/5.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/wunderfrucht/5.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/wunderfrucht/6.webp" type="image/webp")
            source(data-srcset="img/projects/wunderfrucht/6.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/wunderfrucht/6.jpg" alt="")