section.project.project-digo 
    .project__img
        picture
            source(data-srcset="img/projects/digo/2.webp" type="image/webp")
            source(data-srcset="img/projects/digo/2.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/digo/2.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/digo/3.webp" type="image/webp")
            source(data-srcset="img/projects/digo/3.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/digo/3.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/digo/4.webp" type="image/webp")
            source(data-srcset="img/projects/digo/4.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/digo/4.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/digo/5.webp" type="image/webp")
            source(data-srcset="img/projects/digo/5.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/digo/5.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/digo/6.webp" type="image/webp")
            source(data-srcset="img/projects/digo/6.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/digo/6.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/digo/7.webp" type="image/webp")
            source(data-srcset="img/projects/digo/7.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/digo/7.jpg" alt="")