section.project.project-imugi 
    .project__img
        picture
            source(data-srcset="img/projects/imugi/2.webp" type="image/webp")
            source(data-srcset="img/projects/imugi/2.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/imugi/2.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/imugi/3.webp" type="image/webp")
            source(data-srcset="img/projects/imugi/3.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/imugi/3.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/imugi/4.webp" type="image/webp")
            source(data-srcset="img/projects/imugi/4.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/imugi/4.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/imugi/5.webp" type="image/webp")
            source(data-srcset="img/projects/imugi/5.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/imugi/5.jpg" alt="")