section.project.project-nabu 
    .project__img
        picture
            source(data-srcset="img/projects/nabu/2.webp" type="image/webp")
            source(data-srcset="img/projects/nabu/2.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/nabu/2.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/nabu/3.webp" type="image/webp")
            source(data-srcset="img/projects/nabu/3.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/nabu/3.jpg" alt="")
    .project__img
        picture
            source(data-srcset="img/projects/nabu/4.webp" type="image/webp")
            source(data-srcset="img/projects/nabu/4.jpg" type="image/jpg")
            img.lazy(data-src="img/projects/nabu/4.jpg" alt="")