extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "Akvafor"

block content
  include ../../blocks/modules/header/header-project.pug
  main.main
    include ../../blocks/modules/project-top/project-top-akvafor.pug
    include ../../blocks/modules/project/project-akvafor.pug
    include ../../blocks/modules/projects/projects-page.pug
  include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")