section.main-top
    .l-default
        .main-top__wrapper
            .main-top__item
                h1.main-top__title.title.title--h1 Брендинг.<br> сайты.<br> упаковка.
            .main-top__item.show--effect
                .main-top__subtitle Неагентство — это команда, профессионалов, готовых решить все брендинговые задачи.
                a.main-top__btn.btn.btn--black(href="#popup-form" data-fancybox)
                    <svg class="btn--icon" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.57495 2L8.92508 8L2.57495 14" stroke="#00E569" stroke-width="5"/>
                    </svg>
                    label.btn--text Бесплатная консультация