section.project-top.project-top-marussia
    .project-top__text-wrapper
        .project-top__text.project-top__text--bold
            p Стратегия и упаковка для шоколада с русскими начинками
        .project-top__text
            p Шоколад Marssia позиционируется в первую очередь, как сувенирный продукт для туристов. Именно поэтому в качестве маскота была выбрана матрешка, как один из самых узнаваемых символов России.
            p Для создания уникальных русских начинок был приглашен действующий чемпион WORLD CHOCOLATIER MASTERS.
    .project-top__img