section.project-top.project-top-waxula
    .project-top__text-wrapper
        .project-top__text
            p Разработка айдентики и дизайна упаковки для Московского бренда сети барбершопов
    .project-top__img