section.project-top.project-top-imugi
    .project-top__text-wrapper
        .project-top__text.project-top__text--bold
            p Разработка стратегии позиционирования и продвижения, нейминг и дизайн упаковки для фруктов в немецком шоколаде
        .project-top__text
            p Корея по праву считается одной из самых «кофейных» стран.
            p Наибольшее число Q-грейдеров — корейцы. Плотность кофеен зашкаливает. Растворимый кофе в Корее почти не уступает молотому, а доля его потребления около 60%
        .project-top__text
            p Однако об этом мало кто знает. На рынке отечественного масс- маркета корейский кофе не представлен, поэтому продвижение бренда было предложено делать через продвижение имиджа корейского кофе.
    .project-top__img