section.project-top.project-top-nabu
    .project-top__text-wrapper
        .project-top__text.project-top__text--bold
            p Разработка стратегии позиционирования и продвижения, ребрендинг и дизайн упаковки для линейки чая
        .project-top__text
            p Невероятно широкая линейка разнообразного чая была урезана до трех SKU, с перспективой дальнейшего расширения.
            p Бренд было решено специализировать на травяных напитках — тизанах, предлагать потребителям, как натуральную и полезную альтернативу традиционному чаепитию.
            p Счастливые портреты целевой аудитории в зеленых венках были вынесены на лицо упаковки, чтобы усилить эмоциональную связь с потребителем и показать, что это не аптечный продукт, а приятная альтернатива привычным напиткам для тех, кто заботится о себе.
    .project-top__img