section.project-top.project-top-wunderfrucht
    .project-top__text
        p Разработка стратегии позиционирования и продвижения, нейминг и дизайн упаковки для фруктов в немецком шоколаде
        p Вяленые фрукты и настоящий немецкий шоколад — натуральный перекус для борьбы с усталостью. Сдержанный немецкий характер и образ головоломки «пятнашки» в качестве символа разминки для мозга.    
    .project-top__img