section.project-top.project-top-akvafor
    .project-top__text-wrapper
        .project-top__text
            p Разработка корпаротивного брендинга для компании Аквафор трейдинг, занимающейся строительством крупных водоочистительных сооружений
    .project-top__img