section.project-top.project-top-chainaya-vysota
    .l-default
        .project-top__wrapper
            .project-top__text-wrapper
                .project-top__text.project-top__text--bold
                    p Айдентика <br> для дома чая<br> и мороженого
                .project-top__text
                    p Логотип является отсылкой к традиционным китайским печатям мастеров. Айдентика строится на шрифте и манере его использования. 
                    p В качестве стилеобразуещего элемента используются концентрические фигуры, напоминающие изолинии и ряды на чайных плантациях одновременно.
            .project-top__img
                picture
                    source(data-srcset="img/projects/chainaya-vysota/1.webp" type="image/webp")
                    source(data-srcset="img/projects/chainaya-vysota/1.png" type="image/png")
                    img.lazy(data-src="img/projects/chainaya-vysota/1.png" alt="")