footer.footer#footer
    .l-default
        .footer__wrapper 
            .footer__contacts
                a.footer__contacts-phone(href="tel:+79253240039") 8(925) 324-00-39
                a.footer__contacts-email(href="mailto:info@neagentstvo.bz") info@neagentstvo.bz
                a.footer__contacts-address(href="https://yandex.ru/maps/213/moscow/house/sadovnicheskaya_naberezhnaya_9/Z04YcAVpSUQAQFtvfXt1d3hnYg==/?from=tabbar&ll=37.629017%2C55.746446&source=serp_navig&z=17.09" target="_blank") Садовническая наб. 9
            .footer__form
                form.form
                    .form__title Оставьте заявку
                    .form__subtitle И мы свяжемся с вами <br>в ближайшее время
                    .form__inputs
                        input.form__input(type="text" name="name" placeholder="Имя")
                        input.form__input.phone(type="tel" name="phone" placeholder="Телефон")
                        .form__submit.btn.btn--white
                            input(type="submit")
                            <svg class="btn--icon" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.57495 2L8.92508 8L2.57495 14" stroke="#00E569" stroke-width="5"/>
                            </svg>
                            label.btn--text Отправить заявку