footer.footer.footer-project
    .l-default
        .footer__wrapper 
            .footer__title
                .footer__title--grey Есть проект?
                .footer__title--white Напишите нам
            .footer__contacts
                a.footer__contacts-phone(href="tel:84952554645") 8 (495) 255-46-45
                a.footer__contacts-email(href="mailto:info@neagentstvo.bz") info@neagentstvo.bz
            .footer__whatsapp 
                .footer__whatsapp-text Наведи телефон и сразу попадешь в наш WhatsApp
                .footer__whatsapp-qr